<div class="car_details" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ("placeholder_car.jpg") %>)">
  <h1><%= @car.brand %></h1>
  <h3><%= @car.model %></h3>
  <h3><%= @car.year %></h3>
  <h3><%= @car.fuel %></h3>
</div>

<div class="show_buttons">
  <%= link_to "Review this car", new_car_review_path(@car), class: "form_button" %>
  <%= link_to "View favourites", favourites_path, class: "form_button" %>
</div>

<div class="review_form">
  <%= simple_form_for ([@car, @review]) do |f| %>
    <h3><%= f.input :comment, label: "Review this car" %></h3>
    <h3><%= f.input :rating, collection: 0..5 %></h3>
    <%= f.submit "Complete", class: "complete_button" %>
  <% end %>
</div>

<div class="favourites_form">
  <% if @car.favourites.empty? %>
    <%= simple_form_for ([@car, @favourite]) do |f| %>
      <%= f.submit "Add to favourites", class: "form_button" %>
    <% end %>
  <% else %>
    <h4>Added to favourites</h4>
  <% end %>
</div>

<ul>
  <% @car.reviews.each do |review| %>
    <div class="review">
      <li><h4><strong>"</strong><%= review.comment %><strong>"</strong></h4>
      <h4>Rating: <%= review.rating %></h4></li>
    </div>
  <% end %>
</ul>
